**.idea/
**.run/
**__pycache__/
**node_modules/
**out/
**.ipynb_checkpoints/
latex/out/
!latex/out/
latex/out/*
!latex/out/Project.pdf
**venv/
**.DS_Store
*Reviews.csv
bibliography.json
*dataset.json
*sections.json
*package-lock.json
*package.json
